<!DOCTYPE html>
<html>
<head>
	<title>How to Design Login & Registration Form Transition</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>



  <div class="cont animated fadeInRightBig"  >

   
  <a href="/login"> <img   src="../../../assets/return.png" ></a> 
     
   

    <form [formGroup]="LoginForm" >

    <div class="form sign-in">
      <h2>Forget Password</h2>

      <label>
     
        <input type="text" id="email" formControlName="email" placeholder="Email" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && M.email.errors }" />
        <div *ngIf="submitted && M.email.errors" class="invalid-feedback">
            <div *ngIf="M.email.errors.required" class="animated fadeInRightBig">email is required</div>
        </div>
      </label>
     

      <button class="submit"  id="open-popup" (click)="forgetPassword()" type="button">Reset</button>

    

    </div>
    </form>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>Forget Password?</h2>
          <p>If you Forgot your password you can recover it!</p>
        </div>
        <div class="img-text m-in">
          <h2>Change Password?</h2>
          <p>If you want to change your password you have the choice!</p>
        </div>

        <div id="btn" class="img-btn"  (click)="clearInput()">
          <span  class="m-up ">Forget Password </span>
          <span  class="m-in">Change Password</span>
        </div>
      </div>

   

    <form [formGroup]="registerForm">

      <div class="form sign-up">
        <label>
         
          <input type="text" placeholder="Username" formControlName="userName" class="form-control"
          [ngClass]="{ 'is-invalid': Change && f.userName.errors }" />
          <div  class="invalid-feedback">
              <div  class="animated fadeInRightBig">Username is required</div>
              
          </div>
      </label>
      <label>
         
        <input type="password" placeholder="Old Password" formControlName="Oldpassword" class="form-control" 
        [ngClass]="{ 'is-invalid': Change && f.Oldpassword.errors }"  />
        <div  class="invalid-feedback">
            <div  class="animated fadeInRightBig">Old Password is required</div>
            
        </div>
    </label>
    <label>
         
      <input type="password" placeholder="Password" formControlName="password" class="form-control"
      [ngClass]="{ 'is-invalid': Change && f.password.errors }"  />
      <div  class="invalid-feedback">
          <div  class="animated fadeInRightBig">Password is required</div>
          
      </div>
  </label>

  <label>
         
    <input type="password" placeholder="New Password" formControlName="newPassword" class="form-control" 
    [ngClass]="{ 'is-invalid': Change && f.newPassword.errors }" />
    <div  class="invalid-feedback">
        <div  class="animated fadeInRightBig">New Password is required</div>
        <div *ngIf="registerForm.controls.newPassword.invalid" class="animated fadeInRightBig">
           Password and new Password should match</div>

    </div>
</label>

<button class="submit"  id="open-popup-register"  (click)="changePassword()" type="button">Change password</button>

      </div>
        
    </form> 
    
  </div>
  
</div>





</body>
</html>

<div class="center" >
</div>

<div [hidden]="!verifey" class="popup animated fadeInDown" >
  <div class="head" [ngStyle]="{'background-color':(messageForgetSuccess != null || messageChangeSuccess != null) 
  ? '#32CD32' : '#FF0000' }">
    <div class="icon">
      <div class="box">
       <img *ngIf="messageForgetFailed != null || messageChangeFailed != null" src="../../../assets/cancel.png">
       <img *ngIf="messageForgetSuccess != null || messageChangeSuccess != null " src="../../../assets/checked.png">
      </div>
    </div>
  </div>
  <div  class="body">
    <h1 *ngIf="messageForgetFailed != null"  class="animated infinite bounce" >Failed</h1>
    <h1 *ngIf="messageForgetSuccess != null" class="animated infinite bounce">Success</h1>

       <p  *ngIf="messageForgetFailed" class="text-danger"> Message Error : {{messageForgetFailed }} </p>
       <p  *ngIf="messageForgetSuccess" class="text-success"> Message Success : {{messageForgetSuccess }} </p>
       <p  *ngIf="messageChangeFailed" class="text-danger"> Message Error : {{messageChangeFailed }} </p>
       <p  *ngIf="messageChangeSuccess" class="text-success"> Message Success : {{messageChangeSuccess }} </p>
       
    <button class="close-btn "  (click)="changeStatusOfVerifey()">&times; Close</button>
  </div>




  
  
