
  
  <!-- ///////////////////////////////////********/////****///////////////////////////////////////////////////////////////
-->

  





  <!-- ///////////////////////////////////********/////****///////////////////////////////////////////////////////////////
-->


<div class="banner">
    <img  src="../../assets/fog.png" alt="">
        <video src="../../assets/ban.mp4" autoplay muted loop></video>
    
    
    
    
</div>

        <!-- ///////////////////////////////////********/////****///////////////////////////////////////////////////////////////
-->
  

