<mat-toolbar class="header mat-elevation-z5 ">
    
       
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            DARI
                        </a>
                        <a href="index.html" class="logoPart2">
                            .TN
                        </a>
                        
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#projects">Post an Ad</a></li>
                            <li class="submenu">
                                <a href="">Ads</a>
                                <ul>
                                    <li><a href="">Sell Ads</a></li>
                                    <li><a href="">Rent Ads</a></li>
                                    <li><a href="">Furniture Ads</a></li>
                                    
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                          
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
       
    
    
    
      </mat-toolbar>

      



      
  <mat-toolbar class="secondToolbar" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
    
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            TN
                        </a>
                        <a href="index.html" class="logoPart2">
                            .DARI
                        </a>
                        
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#projects">Post an Ad</a></li>
                            <li class="submenu">
                                <a href="">Ads</a>
                                <ul>
                                    <li><a href="">Sell Ads</a></li>
                                    <li><a href="">Rent Ads</a></li>
                                    <li><a href="">Furniture Ads</a></li>
                                    
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                          
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

  </mat-toolbar>

  <div class="carou">
    <ngb-carousel>
        <ng-template ngbSlide class="parallaxx">
          <img  src="../../assets/pic/MAIN-IMAGE.jpg" alt="Random first slide">
          <div class="carousel-caption">
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../assets/pic/photo-1558036117-15d82a90b9b1.jfif" alt="Random second slide">
          <div class="carousel-caption">
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../assets/pic/3.jpg" alt="Random first slide">
            <div class="carousel-caption">
              
            </div>
          </ng-template>
        
      </ngb-carousel>
  </div>
  

