<div class="navigation">
    
    <ul>
        <li>
            <a routerLink="MyProf">
                <span class="icon"><i class="fa fa-home" aria-hidden="true" ></i></span>
                <span class="title"> Profile</span>
            </a>
        <li>
            <a routerLink="MyAnn">
                <span class="icon"><i class="fa fa-address-card"></i></span>
                <span class="title"> My Ads</span>
            </a>
        </li>
        <li>
            <a >
                <span class="icon"><i class="fa fa-comments"></i></span>
                <span class="title"> Messages</span>
            </a>
        </li>
        <li>
            <a routerLink="MyComment">
                <span class="icon"><i class="fa fa-paste"></i></span>
                <span class="title"> My Comments</span>
            </a>
        </li>
        <li>
            <a routerLink="MyAppointments">
                <span class="icon"><i class="fa fa-calendar"></i></span>
                <span class="title"> Appointements</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon"><i class="fa fa-sign-out"></i></span>
                <span class="title"> Sign Out</span>
            </a>
        </li>
    </ul>
</div>

<br>
