<div class="ComponentContainer">
    <div class="container">
        <div class="box" data-tilt data-tilt-max="25" data-tilt-speed="400" data-tilt-glare data-tilt-max-glare="1.2" data-tilt-scale="1.2" >
            <h2 class="name"> Sell Ads </h2>
            <a href="#" class="buy"> All Sell Ads </a>
            <div class="cirlce"  ></div>
            <img src="../../assets/Sale-PNG.png" style="margin-top: -30px;" class="product" >
        </div>
        <div class="box" data-tilt data-tilt-max="25" data-tilt-speed="400" data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1.2">
            <h2 class="name"> Post an Ads </h2>
            <a href="#" class="buy"> Let's post An Ad </a>
            <div class="cirlce"></div>
            <img src="../../assets/take-charge-sell3.png" class="product">
        </div>
        <div class="box"data-tilt data-tilt-max="25" data-tilt-speed="400" data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1.2">
            <h2 class="name"> Create an account </h2>
            <a href="#" class="buy">  Go to Account </a>
            <div class="cirlce"></div>
            <img src="../../assets/User.png" class="product">
        </div>
    </div>
</div>