<div class="page-wrapper animated fadeInRightBig">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Employee</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form [formGroup]="registerForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">

                                <label>First Name <span class="text-danger">*</span></label>
                                <input  type="text" formControlName="firstName"
                                 placeholder="firstName" class="form-control"
                                  [ngClass]="{ 'is-invalid': Change && f.firstName.errors }"  >
                                  <div *ngIf="Change && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required"
                                     class="animated fadeInRightBig">Username is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" formControlName="lastName"  
                                required class="form-control" placeholder="lastName"   
                                [ngClass]="{ 'is-invalid': Change && f.lastName.errors }" />
                                <div *ngIf="Change && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required" 
                                    class="animated fadeInRightBig">email is required</div>
                                   
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Username <span class="text-danger">*</span></label>
                                <input type="text" formControlName="userName" placeholder="Username" 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': Change && f.userName.errors }" />
                                <div *ngIf="Change && f.userName.errors" class="invalid-feedback">
                                    <div *ngIf="f.userName.errors.required" class="animated fadeInRightBig">Username is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="text" formControlName="email"  required class="form-control" placeholder="Email"
                                   [ngClass]="{ 'is-invalid': Change && f.email.errors }" />
                                <div *ngIf="Change && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required" class="animated fadeInRightBig">email is required</div>
                                    <div *ngIf="f.email.errors.pattern" class="animated fadeInRightBig">Not Valid Email</div>
                                   
                                </div>
                        </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" placeholder="Password" formControlName="password"
                                 class="form-control"
                                [ngClass]="{ 'is-invalid': Change && f.password.errors }" />
                               <div *ngIf="Change && f.password.errors" class="invalid-feedback">
                                   <div *ngIf="f.password.errors.required" class="animated fadeInRightBig">Password is required</div>
                                   <div *ngIf="f.password.errors.minlength" class="animated fadeInRightBig">Password must be at least 6 characters</div>
                               </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" formControlName="ConfirmPassword" placeholder="Confirm Password" 
                                class="form-control" [ngClass]="{ 'is-invalid': Change && f.ConfirmPassword.errors }" />
                                <div *ngIf="Change && f.ConfirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.ConfirmPassword.errors.required" class="animated fadeInRightBig">Password is required</div>
                                    <div *ngIf="f.ConfirmPassword.errors.minlength" class="animated fadeInRightBig">Password must be at least 6 characters</div>
                                    <div *ngIf="registerForm.controls.ConfirmPassword.invalid" class="animated fadeInRightBig"> Password and confirm password should match</div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Date <span class="text-danger">*</span></label>
                              
                                <input type="date" placeholder="Date Naissance" formControlName="dateNaissance"
                                class="form-control" [ngClass]="{ 'is-invalid': Change && f.dateNaissance.errors }" />
                               <div *ngIf="Change && f.dateNaissance.errors" class="invalid-feedback">
                                   <div *ngIf="f.dateNaissance.errors.required" class="animated fadeInRightBig">Date is required</div>
                                  
                               </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone </label>
                                
          <input type="tel" placeholder="+  Phone Number"  formControlName="phoneNumber"
          class="form-control" [ngClass]="{ 'is-invalid': Change && f.phoneNumber.errors }" 
          pattern="[+]{1}[0-9]{11,14}" />
         <div *ngIf="Change && f.phoneNumber.errors" class="invalid-feedback">
             <div *ngIf="f.phoneNumber.errors.required" class="animated fadeInRightBig">Phone Number is required</div>
             <div *ngIf="f.phoneNumber.errors.pattern" class="animated fadeInRightBig">Invalid phone Number</div>
            
         </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="form-group">
                        <label class="display-block">Status</label>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                            formControlName="isBlock" name="isBlock" 
                            id="active" value="active" checked >
                            <label class="form-check-label" for="active">
                            Active
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isBlock" id="inactive"
                             value="inactive"  formControlName="isBlock">
                            <label class="form-check-label" for="inactive">
                            Inactive
                            </label>
                        </div>
                    </div>
                    
                    <div class="m-t-20 text-center">
                       <!--<button class="btn btn-primary submit-btn" 
                        data-toggle="modal" 
                        data-target="#delete_employee"  (click)="addUser()">
                            Create User</button>-->

                            <a data-toggle="modal" 
                            data-target="#delete_employee"  (click)="addUser()">
 
                                <span>Create User</span>
                                <div class="liquid"></div>
                                  
                             </a>
                            
                    </div>
                 
                </form>
            </div>
        </div>
    </div>

  
</div>

<div *ngIf="messageRegisterFailed != null" id="delete_employee" class="modal fade delete-modal animated fadeInUp" role="dialog">
    <div  class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="../../../assets/sent.png" alt="" width="50" height="46">
                <h3 *ngIf="messageRegisterFailed != null">{{messageRegisterFailed}}</h3>

                <div class="m-t-20"> <!--<a class="btn btn-white" data-dismiss="modal">Close</a>-->
                   <button type="submit" class="btn btn-white" (click)="changeStatus()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="messageRegisterSuccess != null" id="delete_employee" class="modal fade delete-modal" role="dialog">
    <div  class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="../../../../assets/checked.png" alt="" width="50" height="46">
                <h3 >{{messageRegisterSuccess}}</h3>

                <div class="m-t-20"> <!--<a class="btn btn-white" data-dismiss="modal">Close</a>-->
                   <button type="submit" class="btn btn-white" (click)="changeStatus()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>