.homeSelect{
    position: relative;
    margin-left: 380px;
    margin-top: -130px;
    
    z-index: 10;
    top:-10px;
    opacity: 0;
   
}

.search{
    position: absolute;
    left: 1300px;
    top: 160px;
    
    z-index: 11;
    

}


.prevy{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    top: 900px;
    left: 50px;
   
    
    }

.textClass{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 2;
    

   top:-960px;
   left: -360px;
    
}

.asba{
    position: absolute;
    margin-top: 150px;
}
