<div class="comp">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">My account</h3>
        </div>
    
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm">
        <h6 class="heading-small text-muted mb-4">User information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group focused">
                <label class="form-control-label" for="input-username">Username</label>
                <input type="text" id="input-username" class="form-control form-control-alternative" 

                placeholder="Username"    [(ngModel)]="userConnected.userName" formControlName="userName"
                name="userName"      [ngClass]="{ 'is-invalid': f.userName.errors }" >

                <div *ngIf="f.userName.errors" class="invalid-feedback">
                  <div *ngIf="f.userName.errors.required" class="animated fadeInRightBig">
                    userName is required</div>
              </div>

              </div>

            </div>
           
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Email address</label>
                <input type="email" id="input-email" class="form-control form-control-alternative" 
                placeholder="@example.com"   [(ngModel)]="userConnected.email" formControlName="email"
                name="email"   [ngClass]="{ 'is-invalid': f.email.errors }"  >
                <div *ngIf="f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required" class="animated fadeInRightBig">
                      email is required</div>
              </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group focused">
                <label class="form-control-label" for="input-first-name">First name</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative"
                 placeholder="First name"  [(ngModel)]="userConnected.firstName"  name="firstName"
                 formControlName="firstName"  [ngClass]="{ 'is-invalid': f.firstName.errors }" >
                 <div *ngIf="f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required" class="animated fadeInRightBig">
                    firstName is required</div>
              </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group focused">
                <label class="form-control-label" for="input-last-name">Last name</label>
                <input type="text" id="input-last-name" class="form-control form-control-alternative"
                 placeholder="Last name"  [(ngModel)]="userConnected.lastName" name="lastName"
                 formControlName="lastName"  [ngClass]="{ 'is-invalid': f.lastName.errors }"  >
                 <div *ngIf="f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required" class="animated fadeInRightBig">
                    lastName is required</div>
              </div>
                 

              </div>
            </div>
          </div>
        </div>
        <hr class="my-4">
        <!-- Address -->
        <h6 class="heading-small text-muted mb-4">Contact information</h6>
        <div class="pl-lg-4">
         
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group focused">
                <label class="form-control-label" for="input-city">City</label>
                <input type="text" id="input-city" class="form-control form-control-alternative"
                 placeholder="City" [(ngModel)]="userConnected.lieu" name="lieu"
                 formControlName="lieu"  [ngClass]="{ 'is-invalid': f.lieu.errors }" >
                 <div *ngIf="f.lieu.errors" class="invalid-feedback">
                  <div *ngIf="f.lieu.errors.required" 
                  class="animated fadeInRightBig">
                      location is required</div>
              </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group focused">
                <label class="form-control-label" for="input-country">ConfirmPassword</label>
                <input type="password" id="input-country" class="form-control form-control-alternative"
                 placeholder="ConfirmPassword" name="ConfirmPassword" 
                 formControlName="ConfirmPassword" [ngClass]="{ 'is-invalid':f.ConfirmPassword.errors }">
                 <div *ngIf=" f.ConfirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.ConfirmPassword.errors.required"
                   class="animated fadeInRightBig">Password is required</div>
                  <div *ngIf="f.ConfirmPassword.errors.minlength" 
                  class="animated fadeInRightBig">Password must be at least 6 characters</div>
                  <div *ngIf="registerForm.controls.ConfirmPassword.invalid" 
                  class="animated fadeInRightBig"> Password and confirm password should match</div>
              </div>
              </div>
            </div>
           
            <div class="col-lg-4">
              <div class="form-group focused">
                <label class="form-control-label" for="input-country">Password</label>
                <input type="password" id="input-country" class="form-control form-control-alternative"
                 placeholder="password"  name="password" 
                 formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors }">
                 <div *ngIf="f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required" class="animated fadeInRightBig">
                      password is required</div>
                      <div *ngIf="f.password.errors.minlength" 
                      class="animated fadeInRightBig">Password must be at least 6 characters</div>

              </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group focused">
                <label class="form-control-label" for="input-country">PhoneNumber</label>
                <input type="text" id="input-country" class="form-control form-control-alternative"
                 placeholder="PhoneNumber" [(ngModel)]="userConnected.phoneNumber" name="phoneNumber" 
                 formControlName="phoneNumber"  [ngClass]="{ 'is-invalid': f.phoneNumber.errors }" 
                 pattern="[+]{1}[0-9]{11,14}">

                 <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phoneNumber.errors.required" class="animated fadeInRightBig">Phone Number is required</div>
                  <div *ngIf="f.phoneNumber.errors.pattern" class="animated fadeInRightBig">Invalid phone Number</div>
                 
              </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-country">Birthday date</label>
                <input type="date" id="input-postal-code" class="form-control form-control-alternative" 
                placeholder="Birthday date" [(ngModel)]="userConnected.dateNaissance" name="dateNaissance" 
                formControlName="dateNaissance" [ngClass]="{ 'is-invalid':  f.dateNaissance.errors }">

                <div *ngIf="f.dateNaissance.errors" class="invalid-feedback">
                  <div *ngIf="f.dateNaissance.errors.required" 
                  class="animated fadeInRightBig">Date is required</div>
                 
              </div>
              </div>
            </div>
          </div>
        </div>
        <!--<hr class="my-4">
        <!-- Description -->
        <!--<h6 class="heading-small text-muted mb-4">About me</h6>
        <div class="pl-lg-4">
          <div class="form-group focused">
            <label>About Me</label>
            <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
          </div>
        </div>-->

        <div class="col-4 text-right">
          <a (click)="update()"    class="btn btn-sm btn-primary">Update</a>
        </div>
      </form>
    </div>
  </div>
</div>