
         <div class="comp">
            <div class="card bg-secondary ">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Appointments</h3>
                  </div>
                 
                </div>
              </div>
              <div class="card-body">
                <p-table [value]="appt">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Creation-Date</th>
                            <th>Date of Appointment</th>
                            <th>Status</th>
                            <th>purchased</th>
                            <th>Visited</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.createdDate}}</td>
                            <td>{{product.dateAppointement}}</td>
                            <td>{{product.state}}</td>
                            <td>{{product.purchased}}</td>
                            <td>{{product.visibility}}</td>
                        </tr>
                    </ng-template>
                </p-table>
              </div>
            </div>
        </div>
          
        