<div class="sidebar animated fadeInUp" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="">
                    <a routerLink="/dashborad/admin" class="" >    <img width="35" height="25"
                         src="../../../../assets//icons8-dashboard-100.png" 
                        class="rounded-circle m-r-8" alt=""> <span>Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="/dashborad/admin/users" class="">  <img width="25" height="20"
                        src="../../../../assets/icons8-administrator-male-16.png" 
                       class="rounded-circle m-r-8" alt="">  <span>User profile</span></a>
                </li>
              
                <li>
                    <a routerLink="/dashborad/admin/appointement" class=""><img width="28" height="22"
                        src="../../../../assets/icons8-calendar.gif" 
                       class="rounded-circle m-r-8" alt="">  <span>Appointments</span></a>
                </li>
          
                <li class="submenu">
                    <a  class=""><img width="28" height="25"
                        src="../../../../assets/icons8-select-users-16.png" 
                       class="rounded-circle m-r-8" alt="">  <span> list of users </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a routerLink="/dashborad/admin/list-users" class=""><img width="26" height="21"
                            src="../../../../assets/icons8-change-user-16.png" 
                           class="rounded-circle m-r-8" alt=""> Users List</a></li>
                        <li><a routerLink="/dashborad/admin/annonce"class=""><img width="28" height="22"
                            src="../../../../assets//icons8-post-ads-50.png" 
                           class="rounded-circle m-r-8" alt=""> Ads</a></li>
                        
                    </ul>
                </li>
              
                
                <li>
                    <a routerLink="/dashborad/admin/chat"><img width="32" height="25"
                        src="../../../../assets//icons8-chat-100.png" 
                       class="rounded-circle m-r-8" alt=""> <span>Chat</span> <span class="badge badge-pill bg-primary float-right">5</span></a>
                </li>
            
                <li class="submenu">
                    <a ><img width="32" height="25"
                        src="../../../../assets//icons8-mail-64.png" 
                       class="rounded-circle m-r-8" alt=""> <span> Email</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        
                        <li><a routerLink="/dashborad/admin/mail">Inbox</a></li>
                        <li><a href="mail-view.html">Mail View</a></li>
                    </ul>
                </li>
            
             
             
            </ul>
        </div>
    </div>
</div>